<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <% if content_for?(:meta_tags) %>
    <%= yield(:meta_tags) %>
    <% end %>
    
    <% if content_for?(:title_tag) %>
      <%= yield(:title_tag) %>
    <% else %>
      <title>Lathnu Campaign</title>
    <% end %>
    
    <% if content_for?(:description_tag) %>
      <%= yield(:description_tag) %>
    <% else %>
      <meta name="description" content="The continent of Lathnu has some of the bravest adventurers around.">
    <% end %>

    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/jeromeetienne/AR.js/1.7.5/aframe/build/aframe-ar.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-physics-system/v4.0.1/dist/aframe-physics-system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
    
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="margin : 0px; overflow: hidden;"">
    <%= yield %>
  </body>
</html>