<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4457759-22"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-4457759-22');
    </script>
    
    <% if content_for?(:meta_tags) %>
    <%= yield(:meta_tags) %>
    <% end %>
    
    <% if content_for?(:title_tag) %>
      <%= yield(:title_tag) %>
    <% else %>
      <title>Augmented Reality with Firespring</title>
    <% end %>
    
    <% if content_for?(:description_tag) %>
      <%= yield(:description_tag) %>
    <% else %>
      <meta name="description" content="Check out Firespring's work with our clients by viewing this page on your smartphone or tablet.">
    <% end %>

    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/jeromeetienne/AR.js/1.7.5/aframe/build/aframe-ar.js"></script>
    
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="margin : 0px; overflow: hidden;"">
    <%= yield %>
  </body>
</html>